[2015-06-11 20:20] mglinski opened #1 "Tag a release"
If this project is ready for beta or production use, please tag a commit with an appropriate number so we can use composer without dev-master.

Thanks!

[2015-06-11 22:27] florianv commented on #1
Done, thanks for the reminder!

It is ready for production use. I waited to see if I wanted to add more features to the initial release.

[2015-06-11 22:27] #1 closed

[2015-08-13 14:16] canfiax opened #2 "Fetch all conversions at once"
I miss a way to fetch all conversions at once. Say I have many different currencies I need to convert at the same page, I'll be making many requests at once.

[2015-08-13 14:38] florianv commented on #2
Not all providers support retrieving multiple values at once, so you need to call the quote() method multiple times.

[2015-08-13 16:26] simplenotezy commented on #2
OK. Would be great with such a feature for providers that support it

[2015-08-13 20:45] florianv commented on #2
Yes, thanks for the suggestion :)

[2015-08-14 10:36] canfiax opened #3 "Maximum function nesting level of '100' reached, aborting!"
I am getting the following error:

    Maximum function nesting level of '100' reached, aborting!

This is the line that seems to provoke it:

    $rate = Swap::quote($currency . '/' . $convertToCurrency);

It works fine on Homestead, but when pushing to staging server, managed by DigitalOcean and Laravel forge this happens.

[2015-08-14 10:47] florianv commented on #3
This issue is related to Laravel 5, not Swap.

[2015-08-14 10:47] #3 closed

[2015-08-14 10:49] simplenotezy commented on #3
Can you come with an advice as to how I can overcome it? Since it works perfectly on my local machine, but only fails when I push to my server.

[2015-08-14 10:55] florianv commented on #3
You can try changing your php.ini to `xdebug.max_nesting_level=250` for example.

https://laracasts.com/discuss/channels/general-discussion/l5-maximum-function-nesting-level-of-100-reached-aborting

[2015-08-14 11:04] simplenotezy commented on #3
Thanks a lot - that helped. For anyone else who might encounter this problem:

Runinng L5 on DigitalOcean server setup with Laravel Forge, to increase the limit:
- SSH into your server
- Type `sudo nano /etc/php5/fpm/conf.d/20-xdebug.ini`
- Add the following line `xdebug.max_nesting_level = 200`
- Reboot your server (`sudo reboot`)

[2015-08-14 11:10] simplenotezy commented on #3
@florianv Increasing `max_nesting_level` seems like a very hacky solution - application is slowed down.

Any idea why this is happening?

[2015-08-18 19:17] canfiax opened #4 "Fallback if no internet"
Could be cool with some fallbacks on local macine / machine without internet.

Currently the whole app crashes with a:

     throw new ChainProviderException($exceptions);

[2015-09-03 10:14] florianv commented on #4
Well you can catch the exception and decide what to do with it. If you use an http adapter, of course, Swap expects you to have an internet connection.

[2015-09-03 10:14] #4 closed

[2015-09-04 08:49] simplenotezy commented on #4
Curious here. Would it be possible to make your own adapter to fetch from ie a database? You would then be able to catch the results in a database and refresh at an interval.

//Mattias

Sendt fra min mobil

Mattias Siø Fjellvang
CTO - Athliit
(+45) 26 78 98 88

[2015-12-23 19:36] canfiax opened #5 "Laravel 5.2"

[2015-12-24 02:06] #5 closed

[2015-12-25 01:10] sburina opened #7 "Cannot install on Laravel 5.2.* with composer"
Hi!

florianv/laravel-swap v0.1.0 requires illuminate/view 5.0.*|5.1.*
True or just needs and update?

[2015-12-25 20:38] florianv commented on #7
Hey, you can update to the latest version I just released

[2015-12-26 13:33] sburina commented on #7
On 25/12/15 21:38, Florian Voutzinos wrote:

Great, thank you Florian!
Merry Christmas, enjoy the holidays. :)

##

Pozdrav / Regards,
    Siniša Burina

[2015-12-29 09:49] florianv commented on #7
Thanks, you too @sburina. Can you close this if it's solved ?

[2015-12-29 12:27] florianv commented on #7
Thanks you too.

You can update to version 0.2.1

[2015-12-29 12:27] #7 closed

[2016-01-21 23:20] florianv commented on #2
Closing this issue in favor of https://github.com/florianv/swap/issues/20

[2016-01-21 23:20] #2 closed

[2016-03-03 21:57] oseintow opened #8 "Cannot use rate in any computation"
The package handles the exchange for me nicely and when i output the result to screen or log it i get the desired result but if i try to use it in any computation i get the following error.

    exception 'ErrorException' with message 'Object of class Swap\Model\Rate could not be converted to int'

I have tried to typecast the result in any form but still not working. I have tried the follwing but

[2016-03-03 22:14] florianv commented on #8
You can call `getValue()` and then convert it to a float:

[code]

[2016-03-03 22:14] #8 closed

[2016-03-03 22:33] oseintow commented on #8
Thanks @florianv. You are a life saver. So fast

[2016-03-03 22:43] florianv commented on #8
Np, thanks :)

[2016-03-16 17:53] florianv opened #9 "Central Bank of the Republic of Turkey"
Integrate the [Central Bank of the Republic of Turkey](https://github.com/florianv/swap/blob/master/src/Provider/CentralBankOfRepublicTurkeyProvider.php) provider

[2016-03-28 12:20] canfiax opened #10 "Class 'Swap\Swap' not found in SwapServiceProvider.php:168"
For some strange reason, I get the following error. I think it happened after updating from composer:

    Class 'Swap\Swap' not found in SwapServiceProvider.php:168

Stacktrace:

	[2016-03-28 14:14:21] local.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Fatal error: Class 'Swap\Swap' not found in /home/vagrant/Projects/myapp/vendor/florianv/laravel-swap/src/SwapServiceProvider.php

[2016-03-28 12:31] simplenotezy commented on #10
I went to a older branch and ran composer install. I noticed the following from the composer status:

[code]

Now the issue has vanished. I am pulling in:

[code]

[2016-03-28 15:57] florianv commented on #10
I don't really know what could have happened as we didn't modify the `SwapServiceProvider` since the first release of `Swap`..so it must be related to `Laravel`.

Which Laravel version are you using ?

[2016-03-28 16:01] simplenotezy commented on #10
It works on laravel 5.2.23, but breaks on 5.2.26.

[2016-03-28 16:02] simplenotezy commented on #10
However, it seems to be working just fine now. After running composer update.

Will report if I see this issue again.

[2016-03-28 16:04] florianv commented on #10
Ok thanks for the update. It was probably a cache issue

[2016-03-28 16:12] #10 closed

[2016-04-03 10:00] #9 closed

[2016-04-08 22:26] hairmenu opened #13 "Rate in history"
Some providers allows to make history query so it would be nice to be able to perform something like
quote('EUR/USD', '2011-08-08').
Actually it is a deal killer for me. I wish i could use your package.

My 2 cents

[2016-04-20 16:44] florianv commented on #13
Thanks for your suggestion. I'm linking it to the main Swap repo

[2016-04-20 16:44] #13 closed

[2016-05-12 12:32] Suganya-Rajasekar opened #14 "Installation through composer fails"
Hi ,
When I run ''composer require florianv/laravel-swap" this command in teminal

Using version ^0.4.0 for florianv/laravel-swap
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
### Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - guzzle/guzzle v3.9.3 requires ext-curl

[2016-05-12 13:04] florianv commented on #14
The error message states that `the requested PHP extension curl is missing from your system.`.
So you need to install CURL.

[2016-05-12 13:04] #14 closed

[2016-06-22 02:21] framirezs opened #15 "Tutorial"
Could you add a complete tutorial (wiki) for use this package? I searched on google and some people ask how it work exactly. Thanks

[2016-07-26 10:04] Suganya-Rajasekar commented on #14
I did it
**curl -sS https://getcomposer.org/installer | php**
**sudo mv composer.phar /usr/local/bin/composer**
by using this commands..But it show me the same error..

[2016-08-26 21:48] florianv commented on #15
I will do it! Thanks for the tip

[2016-09-08 17:39] florianv commented on #13
@hairmenu This feature will be implemented in the new 3.0 Swap version. https://github.com/florianv/swap/pull/66

[2016-10-04 19:41] gduffy100 opened #18 "get historical rates"
Hi Florian,

would it be possible to point laravel-swap at the latest version of swap to open up the possibility of picking historical rates?

Thanks,
Gerard

[2016-10-05 09:34] florianv commented on #18
Hey Gerard,

as you can see I opened a pull request here https://github.com/florianv/laravel-swap/pull/17

This is currently a work in progress, but I hope to wrap it up soon!

[2016-10-08 23:16] #18 closed

[2016-10-08 23:16] #15 closed

[2016-11-06 14:44] necenzurat opened #21 "Error when using National Bank of Romania"
swap.php
[code]

works with european cental bank, but not romanian
[code]

[code]

[2016-11-25 09:01] bstrahija opened #22 "Multiple rates in one request"
Is it possible to get multiple exchange rates in one request?

[2016-11-25 09:14] florianv commented on #22
Not currently as it's not supported by many services

[2016-11-25 09:15] florianv commented on #21
@necenzurat is this issue still relevant ?

[2016-11-25 12:07] necenzurat commented on #21
yes, it still doesn't work with BNR

[code]

[2016-11-25 12:56] florianv commented on #21
@necenzurat Do you think you could look into it and send a PR ?

The related repo is https://github.com/florianv/exchanger

Thanks!

[2016-11-30 15:23] ymantelli opened #23 "Support for laravel 5.3"
When you update composer the following errors occur :
![capture](https://cloud.githubusercontent.com/assets/20010793/20758188/57873d62-b719-11e6-92a0-1e0054a0e8e4.PNG)

[2016-11-30 15:25] florianv commented on #23
Hey,

this is because you need to install a `php-http/client-implementation` before Swap as stated on the documentation https://github.com/florianv/laravel-swap/blob/master/doc/readme.md#installation

[2016-12-02 19:32] #22 closed

[2016-12-02 19:32] #23 closed

[2016-12-02 23:30] florianv commented on #21
There was indeed a bug and I fixed it.

Update your version constraint to `"florianv/laravel-swap": "~1.0"` if not already done.

Then `composer update florianv/laravel-swap` and it will work :)

[2016-12-02 23:30] #21 closed

[2016-12-04 16:17] necenzurat commented on #21
had to update exchanger and swap

anyway, much thanks 👍

[2016-12-17 10:06] vongrad opened #24 "FEATURE: Integration with Lumen"
First of, thank you for a great library!

Since many developers including me are using Lumen, I wanted to ask you, whether you could implement an integration between those two. It would really come in handy. I managed to integrate your library with Lumen, however I could not do so without modifying your code - which is bad in a sense that I cannot keep up with your updates anymore.

Thank you in a

[2016-12-22 08:51] alvincrisuy opened #25 "Currency Layer not working"
![screen shot 2016-12-22 at 4 49 07 pm](https://cloud.githubusercontent.com/assets/7260700/21420109/b4597916-c866-11e6-84f1-cb94b4711d03.png)

[code]

[2016-12-22 09:05] florianv commented on #25
Hello,

in non-enterprise mode, you can only use USD as base currency. So only rates like `USD/XXX` can be retrieved.

[2016-12-22 09:05] #25 closed

[2016-12-22 09:06] florianv commented on #24
Thanks :)

This is something I would like to support but shouldn't it work out of the box ? It looks like Lumen uses Laravel's service container so the `ServiceProvider` could be used directly

[2016-12-22 10:48] vongrad commented on #24
I though it should work out of the box as well, however I had to modify 'laravel-swap/src/SwapServiceProvider.php' with following change:

`use Illuminate\Contracts\Foundation\Application` --> `use Laravel\Lumen\Application`;

[2016-12-22 18:50] florianv commented on #24
Thanks for the detail, I will work on it :)

[2016-12-22 19:55] #24 closed

[2016-12-22 20:26] florianv commented on #24
You can now update to the `1.1.0` version which includes Lumen support :)

[2016-12-23 17:37] vongrad commented on #24
Great work! Thank you very much! :-)

[2017-02-22 00:43] thiagolcks opened #29 "It seems to be too slow"
I was comparing getting a value straight from Fixer.io API and from Swap, and it seems that Swap is quite slower:

[code]
Yeah, sure, it should be slower, but 1 extra second seems too much. Is it making more than one request?

Anyway, thanks for this great library!

[2017-02-22 12:52] florianv commented on #29
Hey,

Swap uses a chain of providers, so it can make multiple requests if the previous provider in the chain does not support the currencies.

I did this test with the latest Swap version:

[code]

[code]

[2017-03-12 15:25] #29 closed

[2017-07-06 21:01] dschreij opened #32 "Swap::latest() often takes very long to complete or hangs completely"
I just discovered your package and gave it a spin, and must say I am really happy with its ease of use. Thanks for creating and sharing it with us!
I am only experiencing a glitch that, even though it only happens occassionally, could be quite a dealbreaker. A call to `Swap::latest()` can take *very* long to return, and sometimes doesn't appear to return at all (I waited for 5 minutes, which can b

[2017-09-04 09:56] Khurian opened #33 "Swap::latest() with yahoo service problem"
Hi, today i got a errors, swap doesn't work for yahoo and xignite.
Error when i tryed get latest value with yahoo service
[Exchanger\Exception\ChainException]
  The chain resulted in 1 exception(s):
  Exchanger\Exception\Exception: No definition found for Table yahoo.finance.
  xchange

and when I tryed with xiginite
 [Exchanger\Exception\ChainException]
  The chain resulted in 1 exception(s):
  E

[2017-09-10 06:38] florianv commented on #33
@Khurian Do you still have the same issue ? Looks like the yahoo api was down.

About Xignite, which base currency are you using ?

[2017-09-10 06:46] florianv commented on #32
@dschreij Thanks! I'm happy that Swap is useful to you.

Right now, requests to providers are sent sequentially, until a provider can return the rate. So when you have a lot of providers and only the last one has the rate, it can take some time to process.

As you suggested, we can improve that by sending requests in parallel using `requestAsync` on the http client. Unfortunately, I don't really h

[2017-09-11 08:25] dschreij commented on #32
Hi @florianv,
Thanks for your reply. In the end we found out that the delays were caused by problems in our DNS server. Since these were solved, swap has been running flawlessly and fast. I don't think it's worth the effort reimplementing this with requestAsync as the speed improvement would be marginal I think. If you think otherwise, I can give it a go and reimplement things use async requests.

[2017-09-11 08:25] #32 closed

[2017-09-22 10:09] heinhtet123 commented on #4
Even though my con i used is quite fast something i got ChainProviderException when i like to exchange my money

[2017-09-26 14:23] #33 closed

[2017-09-28 03:01] robertnicjoo opened #34 "Non-static method Swap\Swap::latest() should not be called statically"
Hi,
I just installed this package and i'm getting error of
[code]
Here is my controller

[code]
and here is my blade
[code]

[2017-10-12 08:39] erjanmx commented on #34
@robertnicjoo if you're using Laravel 5.5 with package autodiscovery maybe you should try using `Swap\Swap` instead of `Swap\Laravel\Facades\Swap`

[2017-11-02 03:22] Doell opened #35 "Exchanger\Exception\Exception: The currency is not supported or Google changed the response format"
Hello today i got an error on swap
Exchanger\Exception\Exception: The currency is not supported or Google changed the response format
Exchanger\Exception\UnsupportedCurrencyPairException: The currency pair "HKD/IDR" is not supported by the service "Exchanger\Service\Yahoo".

Currency that i use is HKD to IDR

[2017-11-02 07:32] florianv commented on #35
Hello @Doell which version are you using ?

I think you have to update the package to get the latest exchanger version which includes a fix for the Google service.

[2017-11-03 02:21] Doell commented on #35
ok,solved thx

[2017-11-03 02:22] #35 closed

[2017-11-05 15:09] pckz commented on #4
you can catch the exception ChainProviderException using:

try{
    ...
} catch (ChainProviderException $e){
    ...
}

using in the head of class

use Swap\Exception\ChainProviderException;

[2017-11-27 01:46] herarya opened #36 "Yahoo service error"
hi @florianv

i found => {"error":{"lang":"en-US","description":"No definition found for Table yahoo.finance.xchange"}}

[2017-12-07 06:57] waqas-mehmood-pk commented on #33
@florianv YES still have the same issue...

[2017-12-18 10:33] al6s1976 opened #38 "The exchange query is not supported by the service "Exchanger\Service\Chain"."
Althought getting the latest rate works perfectly  I am having problems using swap::historical().

I get this error
`The exchange query "EUR/USD" is not supported by the service "Exchanger\Service\Chain".`
even when i use the example from the docs Swap::historical('EUR/USD', Carbon\Carbon::yesterday());

Any ideas ? Ive tried it with google and European Central bank

[2017-12-18 10:52] florianv commented on #38
Hey @al6s1976 :)

Google and ECB don't support historical rates. Check the table here https://github.com/florianv/laravel-swap#services to see which services support it.
For a free service, you can use Fixer for example.

[2017-12-18 10:52] #38 closed

[2017-12-18 10:54] florianv commented on #34
@robertnicjoo Can you try the latest release if it's fixes it please ?

If not, feel free to reopen the issue :)

[2017-12-18 10:54] #34 closed

[2018-02-12 12:29] florianv commented on #36
Hey @herarya, the service was discontinued by Yahoo. You have to use an other service instead.

[2018-02-12 12:29] #36 closed

[2018-02-12 19:15] sudden-break opened #42 "Problem with Exchange Fallback"
Sometimes when I try to convert Bitcoin Cash to USD via Cryptonator/Open Exchangerates I receive the following exception:

[code]
That's my call:
`return $this->amount/Swap::latest('USD/BCH')->getValue()*1;`

And I have Open Exchangerates before Cryptonator in my config.
Seems like as Open Exchangerates doesn't have Bitcoin Cash rates, it raises an error and doesn't fallback to cryptonator.

[2018-03-05 19:03] nazboyko commented on #34
$rate->getValue();

[2018-03-15 09:25] florianv commented on #42
Thanks for reporting this @sudden-break!

The issue is that in `florianv/exchanger`, we are not catching http request exceptions right now, so it passes through the chain provider and emits the exception.

It was done so if you misconfigure a service, for example with an invalid key, you have immediate feedback with the Exception thrown, instead of having the whole chain to run.

But in your case,

[2018-03-21 09:17] amjadkhan896 opened #44 "Invalid Base issue while converting from AED to USD"
Hi,
I was using the same package from few months.It was working fine and were displaying the result. but from today morning it starts to give the exception

I write a simplest function that converts from AED to USD and it gives this error.
The chain resulted in 2 exception(s): Exchanger\Exception\Exception: Invalid base Exchanger\Exception\Exception: The currency is not supported or Google changed

[2018-03-21 09:21] #44 closed

[2018-03-27 10:36] fsasvari commented on #44
I have the same error for the last few days:

The chain resulted in 1 exception(s):
Exchanger\\Exception\\Exception: The currency is not supported or Google changed the response format at /home/agroklub/web/vendor/florianv/exchanger/src/Service/Chain.php:66)

[2018-03-27 10:37] florianv commented on #44
@fsasvari Should be fixed `composer update florianv/laravel-swap`

[2018-03-27 10:43] fsasvari commented on #44
Thanks @florianv, it works!

Everything except BAM currency, which worked on 2018-03-15, after that script crashed.

[2018-04-04 21:30] ridislam commented on #44
Exchanger\Exception\UnsupportedCurrencyPairException: The currency pair "USD/BDT" is not supported by the service "Exchanger\Service\Fixer".
Exchanger\Exception\Exception: The currency is not supported or Google changed the response format
RuntimeException: Unable to parse XML data: String could not be parsed as XML

[2018-04-16 15:31] Mahfoud047 opened #45 "ChainException with Google"
Hello,
I used this package for a while and it was working perfectly. But now I get an Exception when using Google to get data.
I'm using Lumen and Here is the exception I got:
![rez](https://user-images.githubusercontent.com/29728197/38819494-785bfa2c-4193-11e8-94c7-2d7751f6ed39.png)

Any information?

[2018-04-19 11:06] mukeshj17m opened #46 "The "access_key" option must be provided to use fixer.io in project-files/vendor/florianv/exchanger/src/Service/Fixer.php:51"
As the fixer.io has changed it API and access_key is required. I am usign Laravel framework. I used "florianv/laravel-swap": "^1.1", and i updated the library today and now i can see one new constant ACCESS_KEY_OPTION = 'access_key' in **florianv/exchanger/src/Service/Fixer.php ;**
It has these constants now:

const ACCESS_KEY_OPTION = 'access_key';
const LATEST_URL = 'http://data.fixer.io/api/lat

[2018-04-19 14:40] florianv commented on #46
You can now update Swap `composer update laravel/swap` and use the config for your access key as provided in the documentation!

[2018-04-19 14:40] #46 closed

[2018-04-19 14:42] florianv commented on #45
Hey @Mahfoud047,

1) Fixer now requires an API key
2) Google discontinued the endpoint we were using so we had to implement a new way, which is not very reliable..

[2018-04-19 14:42] #45 closed

[2018-04-20 06:56] mukeshj17m opened #47 "Wrong parameters for Exchanger\Exception\Exception([string $message [, long $code [, Throwable $previous = NULL]]]) in vendor/florianv/exchanger/src/Service/Fixer.php:97"
I update the library, configured the config/swap.php and i see this error:

Symfony\Component\Debug\Exception\FatalThrowableError: Wrong parameters for Exchanger\Exception\Exception([string $message [, long $code [, Throwable $previous = NULL]]]) in /var/www/project/project-files/vendor/florianv/exchanger/src/Service/Fixer.php:97

Stack trace:
#0 /var/www/project/project-files/vendor/florianv/exch

[2018-04-23 07:57] florianv commented on #47
Thanks for reporting this!
You can upgrade exchanger and it should be fixed.
`composer update florianv/exchanger`

[2018-04-23 07:57] #47 closed

[2018-04-23 21:22] camiant commented on #47
still unresolved...

[https://ibb.co/cV7qeH](https://ibb.co/cV7qeH)

... or maybe this call now needs a premium plan?

[code]

[2018-05-03 16:34] florianv commented on #42
@sudden-break To me it looks like that open exchange rates doesn't have the pair and cryptonator returns an error so it looks correct ?

[2018-05-03 16:35] #42 closed

[2018-05-10 06:49] josiahke opened #49 "i cannot not get rates - laravel 5.1"
ChainException in Chain.php line 66:
The chain resulted in 3 exception(s):
Exchanger\Exception\Exception: The current subscription plan does not support this API endpoint.
ErrorException: Undefined offset: 0
RuntimeException: Unable to parse XML data: String could not be parsed as XML

[2018-05-10 07:19] florianv commented on #49
Hey, can you please show me your config and which rate you are trying to get ?

[2018-05-10 15:18] philperusse commented on #49
This comes from fixer.io.
They seem to have changed plans and the free tier does not permit to have a base currency.

Steps to reproduce :

`http://data.fixer.io/api/latest?base=USD&access_key=[access-key]`

Reponse :

`{"success":false,"error":{"code":105,"type":"base_currency_access_restricted"}}`

I think a fix could be to fetch all currencies and do the math in the service instead of leverging

[2018-05-11 06:20] florianv commented on #49
Hey,

well this issue is not a Swap issue so I'm closing it.

@philperusse We could support that but it would have to be an add-on to all services, since the rates won't be "exact rates". You will see there is always a slight difference between the direct rates and the rates deduced from calculations.

[2018-05-14 09:10] matthbon opened #51 "The currency is not supported or Google changed the response format"
Hi there,

Using this package which is great. I am using the google service and get this error:

The chain resulted in 1 exception(s):
  Exchanger\Exception\Exception: The currency is not supported or Google changed the response format

Using these versions:
florianv/laravel-swap ^1.1
florianv/exchanger 1.2.0

Any help would be appreciated or am i using wrong versions? Thanks.

Matthijs

[2018-05-15 12:13] florianv commented on #51
Hey @matthbon,

unfortunately, the Google service is not very reliable, so I suggest you to choose an other service!

[2018-05-15 12:13] #51 closed

[2018-05-19 04:55] robertnicjoo opened #52 "How to use this with middleware?"
Hi,

I want to have dropdown in my navbar where i can select currency and all the prices in my app convert to selected currency, I know i should use middleware for this matter but i don't know how to begin. Would you mind help me to do that?

thanks.

[2018-05-25 05:50] robertnicjoo commented on #52
gave up to get an answer!

[2018-05-25 05:50] #52 closed

[2018-06-05 09:47] mukeshj17m opened #53 "Exchanger\Exception\UnsupportedCurrencyPairException: The currency pair "USD/EUR" is not supported by the service "Exchanger\Service\Fixer"."
Everything was working fine till morning from last one month after the fixer changes its services and implementation but suddenly in production site i could see the errors, when i checked the Laravel log, i could see the following errors.

Exchanger\Exception\ChainException: The chain resulted in 1 exception(s):
Exchanger\Exception\UnsupportedCurrencyPairException: The currency pair "USD/EUR" is n

[2018-06-05 19:10] ma8h7er commented on #53
Hello,
I am facing the same thing today for TRY/EUR exchange. the same issue !

[2018-06-06 06:51] anbu369 commented on #53
Facing the same issue in production server. Please fix asap

[2018-06-06 09:49] mukeshj17m commented on #53
@ma8h7er @anbu369 : Did you guys got any solution to this issue? Our application mostly relies on price conversion and due to this nothing is working on production.

[2018-06-06 10:14] alies-dev commented on #53
## Fixer
[Fixer official repo](https://github.com/fixerAPI/fixer) has this warning message:
![image](https://user-images.githubusercontent.com/5278175/41032152-424dab72-698b-11e8-83ed-e3f32d75c605.png)

Free version of fixer works with EUR currency only (both both real-time and historical modes).
Old API is not supported anymore, pls update your dependencies and service lists

## 1Forge
1forge doe

[2018-06-06 17:42] sasin91 commented on #53
Fixer free plan only supports from EUR conversions now.

You Will need to buy a access key and toggle enterprise mode.

[code]

[2018-06-06 22:00] ma8h7er commented on #53
@mukeshj17m No I didn't find a solution, I'm waiting this repo to be fixed.
I'm using central bank of Turkey not fixer.

[2018-06-07 19:43] icaroscherma opened #54 "latest()->getValue() is rounding the value in some cases"
Hello guys, using `google` service in both environments I get a different response from:
`\Swap::latest('USD/BRL')->getValue()`
dev: `"3.90777648"`
prod: `"3.91"`

As you can see, in production server it is getting rounded to 2 decimal places even having the same `config/swap.php` file.

### Environments:

Development:
[code]

Production:
[code]

---
__Edit:__ Discovered that is not related to the

[2018-06-07 19:57] icaroscherma opened #55 "Request to add "CurrencyConverterAPI" service (free and with better rate limites)"
Example URL:
http://free.currencyconverterapi.com/api/v5/convert?q=USD_BRL&compact=y

Info (there is a Docs link inside):
https://free.currencyconverterapi.com

Rate limits of `free` tier:
[code]

[2018-06-07 20:44] icaroscherma commented on #54
If you simply add `hl=pt_BR&` before `q=` in the `vendor/floranv/exchanger/src/Service/Google.php`, it forces crawling for only one number of decimals and in "same language" (the response body).
This kind of fixed for me. But should I PR it?

---

__Edit:__ by only "one number of decimals" I meant the same amount every time.

[2018-06-18 10:11] gslongo commented on #53
Same here. Not sure we'll have good solution to replace fixer. If you have any suggestion ... :)

[2018-06-18 10:21] ma8h7er commented on #53
@gslongo Do you know why this issue occurs also when using central bank of Turkey ?

[2018-06-18 11:18] gslongo commented on #53
Humm no sorry, i'm not using this service :-)

[2018-07-02 11:26] kamal-chagam commented on #53
Hi all

It's some weird behaviour why it's not working only in production server(linode) ? , but no problem on dev machine . any help please?

[2018-07-02 11:46] alies-dev commented on #53
@chagamkamalakar
Maybe you use different package versions (does your deploying script use composer install + `composer.lock` is present on your repo?)

[2018-07-02 20:00] kamal-chagam commented on #53
@lptn
you are right .. 'composer install' is run in production server as well along with composer.lock file.

[2018-07-15 17:44] #53 closed

[2018-07-15 17:44] florianv commented on #53
As @sasin91 said, fixer only supports EUR as base currency on the free plan. Feel free to subscribe to it, or use an other provider to meet your needs

[2018-07-19 14:23] papontes opened #56 "compatibility issue: cache/adapter-common"
geocoder related packages require "cache/array-adapter": "^1.0".
laravel-swap requires "cache/adapter-common": "^0.3"
Would it be possible to upgrade the package dependencies to resolve compatibility issues?

[2018-07-20 10:49] Jack-Walter-Smith opened #57 "Cannot add my own service"
Hi!

I want to add my own service. What i did but it doesn't work:
1. Created `App\Services\Swap\NationalBankOfBelarus` and extends `HistoricalService`;
2. Created `App\Providers\SwapServiceProvider` and added to `config/app.php` providers;
3. Inside `App\Providers\SwapServiceProvider::register()`:
[code]
4. Added to `config/swap.php` `'national_bank_of_belarus' => true`

But i'm getting an error

[2018-07-20 11:28] Jack-Walter-Smith commented on #57
Ok, i didn't need to add to `config/swap.php`

[2018-07-24 14:48] florianv commented on #56
@papontes We can surely update the version.

Can you please send a PR ?

[2018-07-24 14:51] florianv commented on #54
@icaroscherma Can you send a PR for it please ? If we add a locale I think we should use `en_GB`

[2018-08-02 12:42] alies-dev commented on #55
BTW: I already has a code for this service and we use it on production for a few months. I'm going to prepare a PR, but I think that the right place to do it is https://github.com/florianv/exchanger , I even created an issue/question about it: https://github.com/florianv/exchanger/issues/60

[2018-08-02 21:39] alies-dev commented on #55
@icaroscherma PR https://github.com/florianv/exchanger/pull/63

[2018-08-16 13:42] jlpilogistics commented on #34
I have the same issue with @robernitjoo. Still the the same problem. I have imported the package by using "use Swap\Swap;"

Problem still persists. please help me @florianv

[2018-08-20 16:49] abhi-cognitivo opened #58 "exchange query '' is not supported by the service "Exchanger\Service\Chain""
Hi,

I have a paid account with Fixer, and wanted to run queries for USD/PYG and got the following error.

**Code**:
`$rate = Swap::historical('USD/PYG', Carbon::parse($date));
`

**Returns**:
[code]

The same code works perfectly with EUR/USD. What am I doing wrong or is there something I should do regarding chaining. Also if I inverted this to USD/EUR it won't work.

[2018-09-01 10:35] ablishek commented on #58
Apprently the code works, but it takes time for the system to recognized you as a paid member. So at first it might not work, give it few days and it will start.

[2018-09-01 10:36] #58 closed

[2018-09-10 11:39] diadal opened #59 "string or object implementing"
I try to get `\Swap::latest("AED/ARS")->getValue();`
"The Response content must be a string or object implementing __toString(), "boolean" given."

[2018-10-17 07:13] florianv commented on #59
@diadal Can you track it down please ?

[2018-10-17 07:13] #59 closed

[2018-10-17 07:14] florianv commented on #55
Closing this since the PR was merged!

[2018-10-17 07:14] #55 closed

[2018-11-21 07:40] hao-li opened #60 "Installation through composer fails"
[code]

[2018-11-21 08:55] sylouuu commented on #60
Same here.

Not related to this package, because we have the same error by installing `florianv/swap`.

[2018-11-22 10:10] florianv commented on #60
Can you try installing `composer require florianv/laravel-swap php-http/message php-http/guzzle6-adapter ^1.0` instead ?

[2018-11-22 10:13] sylouuu commented on #60
It works!

Is this the new way to install the package/any caveat?

Best

[2018-11-22 10:16] florianv commented on #60
I think that a new major version of the Guzzle adapter was released and by default the command installs the latest version, which is not compatible with Swap yet.

Only 1.* is compatible with the current Swap version.

[2018-11-22 10:16] #60 closed

[2018-12-29 11:42] florianv commented on #56
This will be fixed in the next major version that is being worked in this PR https://github.com/florianv/exchanger/pull/68

[2018-12-29 11:42] #56 closed

[2018-12-29 11:43] #54 closed

[2018-12-29 11:43] florianv commented on #54
This should be fixed in the next major version that is being worked in this PR https://github.com/florianv/exchanger/pull/68.

[2019-03-01 07:00] farzanbd commented on #10
I am having the same issue on the newly released Laravel 5.8

[2019-03-01 07:01] farzanbadakhshan commented on #10
I'm having the same issue on Laravel 5.8.

[2019-03-01 12:12] carbonvader opened #63 "Laravel 5.8 Support"
Hey @florianv,

Can you please add support for Laravel 5.8? As i update my app to 5.8, i get the following error. I suppose it's because the tagged method signature has been changed.

Thanks for this great package.

`   Symfony\Component\Debug\Exception\FatalThrowableError  : Argument 1 passed to Exchanger\Service\Chain::__construct() must be of the type array, object given, called in /Users/carbo

[2019-03-02 14:32] florianv commented on #63
Hey @carbonvader, you will have to upgrade Swap to the latest version, which works correctly on Laravel 5.8 (just tested it).

[2019-04-04 12:58] denitsa-cm commented on #63
@florianv I am getting this error after upgrading `laravel-swap` to 2.0:

`No PSR-17 request factory found. Install a package from this list: https://packagist.org/providers/psr/http-factory-implementation`

Anything else that's missing?

[2019-04-05 19:57] bhdrnzl opened #64 "Object of class Exchanger\ExchangeRate could not be converted to string"
`{!! Swap::latest('EUR/USD') !!}`

Object of class Exchanger\ExchangeRate could not be converted to string (View: C:\xampp\htdocs\......

what is the problem?

[2019-04-29 04:02] SijanBhattarai opened #65 "Maximum Monthly API Request Reached."
While the API is running fine on the local development server and not in the production server.
It throws this exception :
`The chain resulted in 2 exception(s): Exchanger\Exception\Exception: The maximum allowed API amount of monthly API requests has been reached. Exchanger\Exception\Exception: The currency is not supported or Google changed the response format`

[2019-05-11 12:52] mohammad6006 opened #67 "Currency Converter API config"
I couldnt find config fo Currency Converter API

[2019-05-11 15:55] mohammad6006 commented on #67
#68

[2019-05-13 05:46] #67 closed

[2019-06-12 11:30] yaovicoder commented on #65
If you use a free plan, that simply means that you've reached the limit of 1,000 requests per month.

[2019-07-24 10:51] #65 closed

[2019-07-24 10:52] #63 closed

[2019-07-28 15:04] SvanThuijl opened #69 "Cache is not working"
I have a job which runs twice per hour.  The exchange rate is cached for 24 hours. Still, fixer.io tells me I had 32 requests the last < 24 hours.

This is stored in the cache folder but it seems not to be used.
`1564327443s:516:"a:4:{i:0;b:1;i:1;O:22:"Exchanger\ExchangeRate":4:{s:36:"Exchanger\ExchangeRatecurrencyPair";O:22:"Exchanger\CurrencyPair":2:{s:36:"Exchanger\CurrencyPairbaseCurrency";s:3

[2019-09-04 09:52] Amodar opened #70 "Laravel 6 support"

[2019-09-06 15:44] Amodar commented on #70
For the people who can't wait to move to Laravel 6, I've created a temporary fork that supports it. https://github.com/Amodar/laravel-swap. Please note the fork will be archived once this repo supports it.

[2019-09-16 14:48] geodro commented on #70
Any plans to add support soon?

[2019-09-17 08:50] florianv commented on #70
@Amodar Can you please send a pull request ? Thanks!

[2019-09-20 10:07] niladam commented on #70
Hi @florianv,

First of all i want to **thank you** for your hard work!:)

Second,  from what i can gather, the issue lies in the upstream [php-cache/illuminate-adapter](https://github.com/php-cache/illuminate-adapter) which didn't [add support](https://github.com/php-cache/illuminate-adapter/blob/master/composer.json#L38) for illuminate/cache 6.0;

In order for him to be able to send a PR, i thin

[2019-09-22 09:15] leeovery commented on #70
Turns out at some point (maybe Laravel 6) the cache repository interface was updated to fully adhere to the SimpleCache contract.

So you can now just pass the Laravel cache repository into the Swap Builder `useSimpleCache` method:

[code]

The config can then be updated to remove the cache part as this will automatically use what's set in the Laravel cache.php config / env.

[2019-09-23 11:10] jeielaraneta opened #71 "No API Key was specified or an invalid API Key was specified"
fixer API key was already specified in app/config/swap

[2019-09-23 11:16] jeielaraneta commented on #71
fixed by running php artisan config:clear

[2019-09-23 11:16] #71 closed

[2019-09-24 09:32] Amodar commented on #70
@florianv here it is https://github.com/florianv/laravel-swap/pull/72. I'm not a fan of this change though as we're dependent on illuminate-adapter which is not maintained anymore.

[2019-09-30 13:00] kslimani commented on #70
Any progress on Laravel 6 support ?

EDIT: i pushed a possible alternative proposition (#73) to fix this issue.

[2019-10-09 15:44] florianv commented on #64
```{!! Swap::latest('EUR/USD')->getValue() !!}```

[2019-10-09 15:44] #64 closed

[2019-10-24 09:05] xenabyte commented on #34
@florianv, any solution to this, i am having the same issue right now

[2019-11-05 12:21] jafar690 opened #74 "Exchanger\Exception\ChainException : The chain resulted in 1 exception(s): Http\Client\Exception\NetworkException: Could not resolve host: forex.1forge.com"
seems like the api endpoint is not working,
`https://forex.1forge.com` has been changed to `https://api.1forge.com`

[2019-11-08 06:32] msamdan opened #75 "central_bank_of_republic_turkey is not working"
Swap::latest('USD/TRY')

The chain resulted in 1 exception(s): ErrorException: Undefined offset: 0
../vendor/florianv/exchanger/src/Service/Chain.php
Line 66

May be central_bank_of_republic_turkey changed service ?

https://www.tcmb.gov.tr/kurlar/kurlar_tr.html

[2019-12-29 21:23] mits87 commented on #70
Any progress about Laravel 6 support?

[2019-12-30 00:29] kslimani commented on #70
@mits87 Laravel 6 is supported since release [2.1.0](https://github.com/florianv/laravel-swap/releases/tag/2.1.0).

@florianv : I think this issue should be closed ?

[2020-01-21 13:38] florianv commented on #70
@kslimani Yes!

[2020-01-21 13:38] #70 closed

[2020-01-21 13:40] florianv commented on #74
@jafar690 Yes, this has been fixed in version `2.3.1` of Exchanger (https://github.com/florianv/exchanger).

You'll need to update `florianv/exchanger` to at least that version

[2020-01-21 13:40] #74 closed

[2020-01-21 13:42] florianv commented on #75
Seems to be working fine here: https://www.tcmb.gov.tr/kurlar/today.xml

[2020-02-28 14:51] devonmather commented on #58
It's actually the following code appearing to cause issues. You have to set your config flag of enterprise to true. This is misleading at least in the case of Fixer.io as I have only paid for a Basic plan, not their Enterprise plan.

[code]

[2020-03-03 08:59] florianv commented on #58
@devonmather You are right 👍

Maybe that flag should be named `paid` instead of `enterprise` or something like that..

[2020-05-18 10:06] jatinthapar1910 opened #76 "Issue with Laravel7"
Getting an issue with Laravel7

`Http\Discovery\Exception\NotFoundException `

  `No PSR-17 request factory found. Install a package from this list: https://packagist.org/providers/psr/http-factory-implementation`

[2020-05-18 20:39] jishnu2292 opened #77 "SAR and QAR to USD showing value 0"
When I tried to convert SAR to USD and QAR to USD, the value is showing 0.

[2020-05-19 06:23] florianv commented on #76
Try running: `composer require nyholm/psr7`

[2020-05-20 03:40] jatinthapar1910 commented on #76
Same issue.

[2020-05-20 10:18] willek opened #78 "[Question] default ttl / expire time cached data"
what is the default ttl / expire time cached data ?
I'm using `'cache' => 'file'`,
without set the `cache_ttl` on the `options` config

[2020-05-20 10:57] willek commented on #78
found the answer

https://github.com/florianv/laravel-swap/blob/master/doc/readme.md#cache_ttl

[2020-05-20 10:57] #78 closed

[2020-07-23 10:41] uguurozkan commented on #75
The Central Bank of the Republic of Turkey (TCMB) no longer allows HTTP requests, redirecting to HTTPS. This causes the file not to be found; hence, throws the error.

Made a PR for this => https://github.com/florianv/exchanger/pull/116

[2020-07-28 07:03] florianv commented on #75
Thanks @msamdan for reporting and @uguurozkan for fixing it 👍

It has been released in version `2.5.1` of exchanger, so you'll have to do a `composer update`.

[2020-07-28 07:03] #75 closed

[2020-09-11 16:28] 1992abdo opened #80 "how to get value from this object in swap currency from fixer Exchanger\ExchangeRate {#280 ▼ -currencyPair: Exchanger\CurrencyPair {#261 ▶} -value: 1.183716 -date: DateTime @1599782400 {#279 ▶} -provider: "fixer" }"

[2020-09-13 08:20] florianv commented on #80
@1992abdo You can get the value using `$rate->getValue()` or `(string) $rate`

[2020-09-13 08:20] #80 closed

[2020-12-21 14:35] aurawindsurfing opened #82 "No PSR-17 request factory found"
I have encountered this issue in Laravel 8.

Solved by

[code]

[2020-12-21 14:36] #82 closed

[2021-01-08 16:52] lptn opened #83 "Support PHP 8.0"

[2021-01-11 10:21] #83 closed

[2021-04-03 06:34] florianv commented on #77
@jishnu2292 We need more details about which service/provider you are using and some code samples.

In the meantime, I'm closing the issue.

[2021-04-03 06:34] #77 closed

[2021-04-03 06:34] #76 closed

[2021-04-03 06:35] florianv commented on #69
@SvanThuijl Can you please send a PR (if you can locate the issue)? Thanks!

[2021-04-11 06:07] #69 closed

[2021-06-03 16:47] msquareM opened #85 "You have exceeded the maximum rate limitation allowed on your subscription plan"
Hi Team,
This is mani i have some issue from currency layer like below

The chain resulted in 1 exception(s): Exchanger\Exception\Exception: You have exceeded the maximum rate limitation allowed on your subscription plan. Please refer to the "Rate Limits" section of the API Documentation for details.

but in my account my api usage is like 4% (10 / 250)

[2021-06-16 09:34] komen205 opened #86 "The exchange query "EUR/USD" is not supported by the service "Exchanger\Service\Chain"."
I'm using abstract API
and I get this error
The exchange query "EUR/USD" is not supported by the service "Exchanger\Service\Chain".

while doing Swap::latest('EUR/USD');

[2021-06-21 10:26] komen205 commented on #86
I tried to dump $this->services and the result is Exchanger\Service\Chain {#1629 ▼
  -services: []
}
Looks like it's not registering any service?

[2021-06-21 10:35] komen205 commented on #86
It worked after doing

composer dump-autoload
php artisan config:clear
php artisan config:cache

[2021-06-21 10:35] #86 closed

[2021-06-21 16:00] komen205 opened #87 "The request call is null - Unable to parse JSON data: JSON_ERROR_SYNTAX - Syntax error, malformed JSON"
```Swap::latest('EUR/USD'); ``` is throwing "Unable to parse JSON data: JSON_ERROR_SYNTAX - Syntax error, malformed JSON"
on function
[code]
I tried to dump the request on HttpService and it returns null.
![image](https://user-images.githubusercontent.com/59452877/122790374-2b738480-d2b0-11eb-8489-2c987b947a7d.png)
And for the buildRequest function, if I dump the $request or $this->requestFactory-

[2021-06-30 07:36] blindsz opened #88 "Empty reply from server"
Hi I'm getting Http\Client\Exception\RequestException: Empty reply from server when using the package. Thank you!

[2021-07-03 12:32] komen205 commented on #88
What service are you using?

[2022-02-04 22:31] elfeffe commented on #87
I have the same issue

[2022-04-04 06:45] florianv commented on #87
Looks like it's an issue with AbstractApi's response?

[2022-04-04 06:47] florianv commented on #88
I'm closing this issue due to the lack of details since almost one year.

[2022-04-04 06:47] #88 closed

[2022-04-04 06:49] florianv commented on #85
Hi @msquareM, we are just returning errors from the provider so I suggest to contact the provider to see if they can debug the issue on their side.

[2022-04-04 06:49] #85 closed

[2022-06-17 17:11] SnakeME opened #89 "New fixer/apilayer api key not working"
It seems if you create a new account for fixer (which is provided by apilayer) the api key provided by apilayer is not valid. I guess that the API endpoint is different for new apilayer API keys.